<!DOCTYPE html>
<!-- Latest compiled and minified CSS -->

<html lang="en">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">

  </head>
<body>
<hr>
<hr>
   <div class="container">

<img src='/static/capbot.png' class="img-fluid" alt="Responsive image">
       <div class="jumbotron">
        <center> <h3 class="text-muted"> SLATIN </h3></center>
        <h2> enter the word or phrase you want to transliterate </h2>


<h2>Try me out: </h2>

    <form action = "http://localhost:5000/response" method="POST">
        <input type="text" name="text"  class="form-control"> <br>
        <input class="btn btn-lg btn-success" type="submit" name="my-form" value="Send">
    </form>
           </div>
</body>
</html>